<launch>

	<!-- default arguments
	<arg name="bag_file_prefix" default="jumpy" />
    -->

	<!-- run UART communication -->
	<node 
        name="uart_comm_jumpy"
        pkg="mcu_uart_jumpy" 
        type="uart_comm_jumpy" 
        output="log"
    /> 


    <!-- plot data -->
	<node 
		name="pres_plot"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/pres_tank/data[0] /pres_act1_kr/data[0] /pres_act2_hr/data[0] 
            /pres_act3_hl/data[0] /pres_act4_kl/data[0] /pres_des/data[0] /pres_des/data[1]" 
	/>

	<!-- record bag file
	<node
        name="rosbag_record"
        pkg="rosbag"
        type="record" 
		args="record -o '/home/lucas/Dropbox (GaTech)/Research/Hexapod/testing/bagfiles/$(arg bag_file_prefix)' 
            /pres_tank /pres_act1_kr /pres_act2_hr /pres_act3_hl /pres_act4_kl /test_start"
    />
    -->

    <!-- run pressure control -->
    <!--
    <node
        name="pres_control"
        pkg="control_jumpy"
        type="pres_control.py"
        output="screen" 
    />
    -->
    
</launch>
