<launch>

	<!-- run UART communication -->
	<node 
        name="uart_comm_jumpy"
        pkg="mcu_uart_jumpy" 
        type="uart_comm_jumpy" 
        output="log"
    /> 


    <!-- plot data /pres_des/data[0] /pres_des/data[1] -->
	<node 
		name="pres_plot"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/pres_tank /pres_act1_kr /pres_act2_hr 
            /pres_act3_hl /pres_act4_kl /traj_dump" 
	/>
    
</launch>
