<launch>

	<!-- default arguments -->
	<arg name="bag_file_prefix" default="jumpy" />

	<!-- run UART communication -->
	<node 
        name="uart_comm_jumpy"
        pkg="mcu_uart_jumpy" 
        type="uart_comm_jumpy" 
        output="log"
    /> 

    <!-- run pressure control -->
    <node
        name="pres_control"
        pkg="control_jumpy"
        type="pres_control.py"
        output="screen" 
	/>

    <!-- plot data -->
	<node 
		name="pres_plot"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/pres_tank/data[0] /pres_actuator/data[0] /pres_actuator/data[1] /pres_actuator/data[2] /pres_actuator/data[3]" 
	/>

	<!-- record bag file -->
	<node
        name="rosbag_record"
        pkg="rosbag"
        type="record" 
		args="record -o /home/lucas/catkin_ws/bagfiles/$(arg bag_file_prefix) /pres_tank /pres_actuator /mcu_tx /test_start"
    />
    
</launch>
