<launch>
	<!-- Before running this launch file:
		- sudo systemctl enable ssh (on Pi, should only have to do once)
		- delete ~/.ssh/known_hosts (on local)
		- ssh user@ip -oHostKeyAlgorithms='ssh-rsa' (on local)
		- edit Pi IP address in remote_env_loader.sh (on Pi)
		- edit Pi IP address in this file
		- edit local IP address in ~/.bashrc
		- edit local IP address in this file
		- start roscore (on Pi)
	-->
	
	<!-- declare Raspberry Pi machine -->
	<machine 
		name="pi"
		default="true" 
		address="192.168.0.211"
		user="nextflex"
		password="nextflex"
		env-loader="/home/nextflex/catkin_ws/devel/remote_env_loader.sh"
	/>

	<!-- declare local machine -->
	<machine
		name="local"
		address="192.168.0.210"
		user="lucas"
	/>


	<!-- run UART communication on Raspberry Pi -->
	<node 
        machine="pi"
        name="uart_comm"
        pkg="mcu_uart" 
        type="uart_comm" 
        output="screen"
    /> 

    <!-- plot data simple -->
	<node
		machine="local"
		name="pres_plot"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/mcu_rx/data[0] /mcu_rx/data[1] /mcu_rx/data[2] /mcu_rx/data[3]" 
	/>
    
</launch>
