<launch>

	<!-- default arguments -->
	<arg name="bag_file_prefix" default="jumpy" />


	<!-- record bag file: TODO: add other topics! -->
	<node
        name="rosbag_record"
        pkg="rosbag"
        type="record" 
		args="record -o '/home/lucas/Dropbox (GaTech)/Research/Hexapod/testing/bagfiles/$(arg bag_file_prefix)' 
            /pres_tank /pres_act1_kr /pres_act2_hr /pres_act3_hl /pres_act4_kl /pres_des /test_start"
    />


    <!-- run pressure control -->
    <node
        name="pres_control"
        pkg="control_jumpy"
        type="pres_control.py"
        output="screen" 
    />
    
</launch>